body {
	height: 100vh;
	width: 100vw;
	background-image: url(https://raw.githubusercontent.com/marvindanig/american-indian-fairy-tales/master/assets/images/art1.jpg);
	background-size: 200% 100%;
	background-position: left center;

}
